# VS Code settings
.vscode/

# venv files
.venv/

temp_json_files/

# Windows system files
Thumbs.db
Desktop.ini

# Node.js dependencies
node_modules/

# Python
__pycache__/
*.pyc

# Mac system files (if you ever use a Mac)
.DS_Store

# Logs
*.log

# Environment files
.env

# Build output
dist/
build/
out/

# Temporary files
*.tmp
*.swp